<header class="header col-12">
    <div class="row col-12 justify-content-between">
        <h2 class="title">Powerbank</h2>
        <fa-icon (click)="openNav()" [icon]="faPlusSquare" size="3x" class="squareIcon"></fa-icon>
    </div>

    <div id="myNav" class="overlay" [ngStyle]="{'width': overlayWidth + '%'}">
        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

        <!-- Overlay content -->
        <div class="col-10">
            <div class="form-group">
                <label class="text-white" for="">title</label>
                <input #title class="form-control" placeholder="title">
            </div>
            <div class="form-group">
                <label class="text-white" for="">date</label>
                <input type="date" #date class="form-control" placeholder="date">
            </div>
            <div class="form-group">
                <label class="text-white" for="">context</label>
                <input type="text" #context class="form-control" placeholder="context">
            </div>
            <div class="form-group">
                <label class="text-white" for="">image</label>
                <input type="file" #image class="form-control" placeholder="image">
            </div>
            <div class="form-group">
                <input type="submit" class="form-control" (click)="add(title.value, date.value, context.value, image.files[0].name); title.value='';date.value='';context.value='';image.files[0].name=''" placeholder="submit">
            </div>
        </div>
    </div>

    <div class="row col-12 justify-content-center m-0 mt-2">
        <div id="progressContainer" class="progress col-12 p-0 my-2">
            <div id="progressBar" class="progress-bar text-dark bg-success" role="progressbar" max="100" [ngStyle]="{'width': numberInProcent + '%'}" name="progress-bar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
                <p id="progressText" class="position-absolute m-0">{{numberInProcent + '%'}}</p>
            </div>
        </div>
    </div>
</header>