<div class="modal-header">
    <!-- Button to close the overlay navigation -->
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- Overlay content -->
    <div class="col-10">
        <div class="form-group">
            <label class="text-white" for="">title</label>
            <input #title class="form-control" autofocus="autofocus" placeholder="title">
        </div>
        <div class="form-group">
            <label class="text-white" for="">context</label>
            <textarea type="text" #context class="form-control" placeholder="context"></textarea>
        </div>
        <div class="form-group mb-5">
            <label class="text-white" for="">Feeling</label>
            <br>
            <div class="d-flex">
                <label class="container">
                            <input type="radio" value="happy.svg" (change)="onSelectionChange('happy.svg')" name="radio">
                            <img src="../assets/img/happy.svg" class="checkmark smily" alt="">
                          </label>
                <label class="container">
                            <input type="radio" value="happy-real.svg" (change)="onSelectionChange('happy-real.svg')" name="radio">
                            <img src="../assets/img/happy-real.svg" class="checkmark smily" alt="">
                          </label>
                <label class="container">
                            <input type="radio" name="radio" (change)="onSelectionChange('neutral.svg')" value="neutral.svg">
                            <img src="../assets/img/neutral.svg" class="checkmark smily" alt="">
                          </label>
                <label class="container">
                            <input type="radio" name="radio" (change)="onSelectionChange('Sad.svg')" value="Sad.svg">
                            <img src="../assets/img/Sad.svg" class="checkmark smily" alt="">
                          </label>
                <label class="container">
                            <input type="radio" name="radio" (change)="onSelectionChange('vomited.svg')" value="vomited.svg">
                            <img src="../assets/img/vomited.svg" class="checkmark smily" alt="">
                          </label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="submit" class="form-control" (click)="add(title.value, context.value, image)" placeholder="submit">
        </div>
    </div>
</div>