<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" (click)="logout()">Logout</a>
                </div>
            </nav>
        </div>
        <app-alert></app-alert>
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>