<div id="myNav" class="overlay">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="col-10">
        <div class="form-group">
            <label class="text-white" for="">title</label>
            <input #title class="form-control" placeholder="title">
        </div>
        <div class="form-group">
            <label class="text-white" for="">date</label>
            <input type="date" #date class="form-control" placeholder="date">
        </div>
        <div class="form-group">
            <label class="text-white" for="">context</label>
            <input type="text" #context class="form-control" placeholder="context">
        </div>
        <div class="form-group">
            <label class="text-white" for="">image</label>
            <input type="file" #image class="form-control" placeholder="image">
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" (click)="add(title.value, date.value, context.value, image.files[0].name); title.value='';date.value='';context.value='';image.files[0].name=''" placeholder="submit">
        </div>
    </div>
</div>
<div class="row col-12 justify-content-center m-0 mt-2">
    <div id="progressContainer" class="progress col-12 p-0 my-2">
        <div id="progressBar" class="progress-bar text-dark bg-success" role="progressbar" max="100" [ngStyle]="{'width': number + '%'}" name="progress-bar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
            <p id="progressText" class="position-absolute m-0">{{number + '%'}}</p>
        </div>
    </div>
</div>
<div class="d-flex mt-2">
    <div class="row mt-3 ml-1 mr-1">
        <div *ngFor="let note of notes" class="card bg-light col-12 p-0">
            <div class="d-flex">
                <div [ngClass]="{'red-bar': note.image == '../assets/img/vomited.svg', 'green-bar': note.image == '../assets/img/happy.svg' || note.image == '../assets/img/happy-real.svg'}">
                </div>
                <div class="card-body p-0 col-11">
                    <h5 class="card-title ">{{note.title}}<img src="{{note.image}} " class="img pr-auto " alt="billed af humør ">
                    </h5>
                    <p class="card-text ">{{note.context}}</p>
                </div>
            </div>
        </div>
    </div>
</div>